@page
@model BulkyWeb.Areas.Admin.Pages.Shop.IndexModel
@{
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Shop List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-page="/shop/upsert" asp-route-id="0" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Shop
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Action</th> <!-- Add Action column for edit and delete buttons -->
                </tr>
            </thead>
            <tbody>
                @foreach(var shop in Model.Shops)
                {
                    <tr>
                        <td>@shop.Name</td>
                        <td>Lon: @shop.Location.X, Lat: @shop.Location.Y</td>
                        <td>
                            <a asp-page="/shop/upsert" asp-route-id="@shop.Id" class="btn btn-primary">Edit</a>
                            <a asp-page="/shop/delete" asp-route-id="@shop.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
